var id = "<%= @added_story.id %>";
var story = "<%= @added_story.story %>"
$("#stories").prepend("<li data-id=" + id + ">" + story + " ♡ <%= escape_javascript(link_to 'delete this nonsense', story_path(@added_story), 'class' =>'delete_story', 
:method => 'delete') %></li>");