<div id="container">
<div id="title">Profile Madlibber</div>
	<div id="da_form">
	<%= render partial: 'form' %>
	</div>
	<div id="stories">
	<% if @stories != nil %>
		<%= render partial: 'story', collection: @stories %>
		<%= will_paginate @stories %>
	<% end %>
	</div>

</div>
